.logo img{                //innerWidth: 982px   innerHeight: 730px
  display: flex;
  position: fixed;
  top: -55px;
  left: 0;
  margin-top: 0px;
  margin-left: 0;
  width: 1500px;
}

.container{
  font-family: 'Raleway', sans-serif;
  width: 45%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #06523f;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  font-weight: 400;
  color: #fff;
  margin-top: 110px;
  margin-bottom: 110px;
}

hr{
  width: 100px;
  height: 3px;
  background-color: #fff;
  border: none;
  margin-top: 0px;
  margin-bottom: 100px;
}

label{
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: #ffffff;
  display: block;
}

input{
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  padding: 15px;
  width: 350px;
  height: 50px;
  border-radius: 25px;
  border: none;
  color: #000000;
  background-color: #ffffff;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-text-fill-color: #000000;
  box-shadow: 0 0 0 1000px #ffffff inset;
  transition: background-color 9999s ease-in-out 0s;
}

input::placeholder,
input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder{
  color: #000000;
  opacity: 0.9;
}

.form-group{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#passwordDiv{
  margin-top: 20px;
}

button{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background-color: #68a357;
  border: none;
  width: 180px;
  height: 50px;
  border-radius: 25px;
  margin-top: 35px;
}

button:hover{
  background-color: #578849;
  transition: 0.5s;
  cursor: pointer;
}

form > button[type="submit"]{
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
}

.options{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.options a{
  color: #56bb3a;
  text-decoration: none;
  font-weight: 500;
}

.options a:hover{
  text-decoration: underline;
  cursor: pointer;
  color: #6be749;
}

small{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ff0000;
  font-style: italic;
}





// @media (max-width: 1280px) {
//   .logo img{
//     display: flex;
//     position: fixed;
//     left: 0;
//     margin-top: 55px;
//     margin-left: 0;
//     width: 100%;
//   }

//   .container{
//     width: 45%;
//   }

//   h2{
//     margin-top: 140px;
//   }

//   hr{
//     margin-bottom: 110px;
//   }

//   input{
//     font-size: 16px;
//   }
// }
